<%- include('../partials/header') %>
	<!DOCTYPE html>
	<html>

	<head>
		<title>Vehicles</title>
	</head>

	<table id="list" class="container text-center" style="color: whitesmoke; margin-top: 0.5rem;">
		<thead>
			<tr>
				<th style="border-bottom: 3px solid whitesmoke">Year</th>
				<th style="border-bottom: 3px solid whitesmoke">Make</th>
				<th style="border-bottom: 3px solid whitesmoke">Model</th>
			</tr>
		</thead>
		<tbody>
			<% vehicleDocs.forEach(function(v) { %>
				<tr>
					
					<td style="border-bottom: 1px solid whitesmoke">
						<%= v.year %>
					</td>
					<td style="border-bottom: 1px solid whitesmoke">
						<%= v.make %>
					</td>
					<td style="border-bottom: 1px solid whitesmoke">
						<%= v.model %>
					</td>
					<td>
						<a href="/vehicles/<%= v._id %>">
							<button type="button" class="btn btn-primary">SELECT</button>
						</a>
					</td>
					<td>
						<form action="/vehicles/<%= v._id %>?_method=DELETE" method="POST">
							<button type="submit" class="btn btn-danger">DELETE</button>
						</form>
					</td>
				</tr>
				<% }); %>
		</tbody>
	</table>

	<%- include('../partials/footer') %>