<%- include('../partials/header') %>
	<h2 class="container text-center" style="color: whitesmoke; margin-top: 0.5rem;">Enter a New Vehicle</h2>

	<div class="container text-center">
		<form action="/vehicles" method="POST">
			<select name="vehicle" style="margin-top: 2rem;">
				<% YMMDocs.forEach(element=> { %>
					<option value="<%= element.year %>, <%= element.make %> , <%= element.model %>">
						<%= element.year %>, <%= element.make %> , <%= element.model %>
					</option>
					<% }) %>
			</select>
			<br>
			<button type="submit" class="btn btn-primary" style="margin-top: 2rem;">Add Vehicle</button>
		</form>
	</div>