<%- include('../partials/header') %>
	<section id="show-page">
		<section class="container text-center">
			<section class="row">
			<div class="col">
				<div>Year: </div>
				<div>
					<%= vehicle.year %>
				</div>
			</div>
		
			<div class="col">
				<div>Make: </div>
				<div>
					<%= vehicle.make %>
				</div>
			</div>
			<div class="col">
				<div>Model: </div>
				<div>
					<%= vehicle.model %>
				</div>
			</div>
		</section>
		</section>
		</section>
		<h2>Average MPG</h2>
		<%= mpg %>

			<h2>Mileage Log</h2>
			<form id="add-mileage-and-fuel-form" method="POST" action="/vehicles/<%= vehicle._id %>/tripfuels">
				<label>Starting Mileage:</label><br>
				<input type="number" name="tripStart"><br>
				<label>Ending Mileage:</label><br>
				<input type="number" name="tripEnd"></textarea><br>
				<label>Fuel Added (in gallons):</label><br>
				<input type="number" name="fuelInfo"></textarea><br>
				<input type="submit" value="Log Trip and Fuel Data">
			</form>
	</section>

	<% if (vehicle.tripfuel.length) { %>
		<table>
			<thead>
				<tr>
					<th>Starting<br>Odometer</th>
					<th>Ending<br>Odometer</th>
					<th>Fuel<br>Added</th>
					<th>Delete<br>Line</th>
					<th>Edit<br>Line</th>
				</tr>
			</thead>
			<tbody>
				<% vehicle.tripfuel.forEach(trip=> { %>
					<tr>
						<td>
							<%= trip.tripStart %>
						</td>
						<td>
							<%= trip.tripEnd %>
						</td>
						<td>
							<%= trip.fuelInfo %>
						</td>
						<td>
							<form action="/tripfuels/<%= trip._id %>?_method=DELETE" method="POST">
								<button type="submit">DELETE</button>
							</form>
						</td>
						<td>
						<td><a href="/tripfuels/<%= trip._id %>">EDIT</a></td>
						</td>
					</tr>
					<% }); %>
						<% } %>

							<%- include('../partials/footer') %>